<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>OUIFeedbackAddress</key>
	<string>nti-aops-misc@nextthought.com</string>
	<key>CFBundleDisplayName</key>
	<string>NextThought</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-72</string>
		<string>Icon-29</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>com.nextthought.sprints.20110519.Prealgebra</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>NTI_CURRENT_DATE_STRING</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.nextthought.urls.ContentID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-nti-cid</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array/>
	<key>UTImportedTypeDeclarations</key>
	<array/>
	<key>UIAppFonts</key>
	<array>
		<string>STIX-Bold.otf</string>
		<string>STIX-BoldItalic.otf</string>
		<string>STIX-Italic.otf</string>
		<string>STIX-Regular.otf</string>
		<string>STIXMath-Regular.otf</string>
		<string>STIXGeneral-Bold.otf</string>
		<string>STIXGeneral-BoldItalic.otf</string>
		<string>STIXGeneral-Italic.otf</string>
		<string>STIXGeneral-Regular.otf</string>
		<string>STIXIntegralsD-Bold.otf</string>
		<string>STIXIntegralsD-Regular.otf</string>
		<string>STIXIntegralsSm-Bold.otf</string>
		<string>STIXIntegralsSm-Regular.otf</string>
		<string>STIXIntegralsUp-Bold.otf</string>
		<string>STIXIntegralsUp-Regular.otf</string>
		<string>STIXIntegralsUpD-Bold.otf</string>
		<string>STIXIntegralsUpD-Regular.otf</string>
		<string>STIXIntegralsUpSm-Bold.otf</string>
		<string>STIXIntegralsUpSm-Regular.otf</string>
		<string>STIXNonUnicode-Bold.otf</string>
		<string>STIXNonUnicode-BoldItalic.otf</string>
		<string>STIXNonUnicode-Italic.otf</string>
		<string>STIXNonUnicode-Regular.otf</string>
		<string>STIXSizeFiveSym-Regular.otf</string>
		<string>STIXSizeFourSym-Bold.otf</string>
		<string>STIXSizeFourSym-Regular.otf</string>
		<string>STIXSizeOneSym-Bold.otf</string>
		<string>STIXSizeOneSym-Regular.otf</string>
		<string>STIXSizeThreeSym-Bold.otf</string>
		<string>STIXSizeThreeSym-Regular.otf</string>
		<string>STIXSizeTwoSym-Bold.otf</string>
		<string>STIXSizeTwoSym-Regular.otf</string>
		<string>STIXVariants-Bold.otf</string>
		<string>STIXVariants-Regular.otf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>OpenSans-SemiboldItalic.ttf</string>
	</array></dict>
</plist>
