<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>OUIFeedbackAddress</key>
	<string>nti-aops-misc@nextthought.com</string>
	<key>CFBundleDisplayName</key>
	<string>NextThought</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-72</string>
		<string>Icon-29</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>com.nextthought.sprints.20110519.Prealgebra</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>NTI_CURRENT_DATE_STRING</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.nextthought.urls.ContentID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-nti-cid</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array/>
	<key>UTImportedTypeDeclarations</key>
	<array/>
	<key>UIAppFonts</key>
	<array>
		<string>MathJax_AMS-Regular.otf</string>
		<string>MathJax_Caligraphic-Bold.otf</string>
		<string>MathJax_Caligraphic-Regular.otf</string>
		<string>MathJax_Fraktur-Bold.otf</string>
		<string>MathJax_Fraktur-Regular.otf</string>
		<string>MathJax_Main-Bold.otf</string>
		<string>MathJax_Main-Italic.otf</string>
		<string>MathJax_Main-Regular.otf</string>
		<string>MathJax_Math-BoldItalic.otf</string>
		<string>MathJax_Math-Italic.otf</string>
		<string>MathJax_Math-Regular.otf</string>
		<string>MathJax_SansSerif-Bold.otf</string>
		<string>MathJax_SansSerif-Italic.otf</string>
		<string>MathJax_SansSerif-Regular.otf</string>
		<string>MathJax_Script-Regular.otf</string>
		<string>MathJax_Size1-Regular.otf</string>
		<string>MathJax_Size2-Regular.otf</string>
		<string>MathJax_Size3-Regular.otf</string>
		<string>MathJax_Size4-Regular.otf</string>
		<string>MathJax_Typewriter-Regular.otf</string>
		<string>MathJax_WinChrome-Regular.otf</string>
		<string>MathJax_WinIE6-Regular.otf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>OpenSans-SemiboldItalic.ttf</string>
		<string>STIXGeneral.otf</string>
		<string>STIXGeneralBol.otf</string>
		<string>STIXGeneralBolIta.otf</string>
		<string>STIXGeneralItalic.otf</string>
		<string>STIXIntDBol.otf</string>
		<string>STIXIntDReg.otf</string>
		<string>STIXIntSmBol.otf</string>
		<string>STIXIntSmReg.otf</string>
		<string>STIXIntUpBol.otf</string>
		<string>STIXIntUpDBol.otf</string>
		<string>STIXIntUpDReg.otf</string>
		<string>STIXIntUpReg.otf</string>
		<string>STIXIntUpSmBol.otf</string>
		<string>STIXIntUpSmReg.otf</string>
		<string>STIXNonUni.otf</string>
		<string>STIXNonUniBol.otf</string>
		<string>STIXNonUniBolIta.otf</string>
		<string>STIXNonUniIta.otf</string>
		<string>STIXSizFiveSymReg.otf</string>
		<string>STIXSizFourSymBol.otf</string>
		<string>STIXSizFourSymReg.otf</string>
		<string>STIXSizOneSymBol.otf</string>
		<string>STIXSizOneSymReg.otf</string>
		<string>STIXSizThreeSymBol.otf</string>
		<string>STIXSizThreeSymReg.otf</string>
		<string>STIXSizTwoSymBol.otf</string>
		<string>STIXSizTwoSymReg.otf</string>
		<string>STIXVar.otf</string>
		<string>STIXVarBol.otf</string>
		<string>Quivira.ttf</string>
	</array>
</dict>
</plist>
